#app.resume {

  // it's gotta print yo
  @page: 5.5in 8.5in;

  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  text-align: justify;

  .mo {
    @media(min-width: 36rem) {
      display: none;

    }
    border-top: 2px dotted var(--dim);
    svg {
      max-width: 300px;
      margin: var(--gutter) auto 0;
      fill: #d9e1ea;
    }
  }

  header, section {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;

    h1, h2, h3 {
      font-weight: 100;
    }

    h1 {
      font-size: 3rem;
      font-family: var(--title);
      color: var(--hot);
      margin: 0;
      line-height: 1;

      @include mFlip() {
        font-size: 6vw;
      }
    }

    h2 {
      text-align: left;
      font-size: 1.2rem;
      padding-left: 0;
      margin-bottom: .2rem;
      color: var(--con);

      @include mFlip() {
        font-size: 1.6rem;
      }

      &.dim {
        color: #ccc;
      }
    }

    p {
      margin: 0;
    }
  }

  header {
    border-bottom: 2px dotted var(--dim);
    padding: var(--gutter) 0;

    color: #ccc;

    a {
      color: #aaa;
      &:hover {
        transition: color 0.2s ease-in-out;
        color: $dim;
      }
    }

    >div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 36rem) {
        flex-direction: column;
        align-items: center;
      }

      + div {
        margin-top: calc(var(--gutter)/1.5);
      }
    }

    svg {
      display: inline-block;
      height: auto;
      width: 200px;

      @include mFlip() {
        width: 25vw;
        max-width: 35%;
      }
      @media (max-width: 36rem) {
        display: none;
      }
    }

    p + p > a {
      color: $hot;
    }
  }

  section {

    &.break {
      break-before: always;
    }
    min-height: 0;
    align-items: flex-start;
    margin-top: 1rem;
    line-height: 1.5;

    @include mFlip() {
      line-height: 1.6;
    }

    + section {
      margin-top: 1.5rem;

      @include mFlip() {
        margin-top: 2.4rem;
      }
    }

    &.center {
      &, h2 {
        text-align: center;
      }
    }

    p {
      // font-size: 90%;
    }
    p + p {
      margin-top: 0.6rem;
    }
  }
}

.expo-block {
  padding: 0.5rem 0;
  line-height: 1.2;

  @include mFlip() {
    padding: 0.7rem 0;
  }

  h3 {
    margin: 0 0 0.4rem;
    font-size: 1rem;
    color: var(--dim);

    @include mFlip() {
      font-size: 1.2rem;
    }

    span {
      color: #aaa;
      font-weight: 100;
    }
  }
  p {
    font-size: 80%; //
    @include mFlip() {
      font-size: 0.9rem;
    }
  }

  ul {
    display: block;
    margin: 6px 0 0;
    padding: 0;
    font-size: 70%;
    list-style: circle;
    text-align: left;

    @include mFlip(36rem) {
      columns: 2;
    }

    @include mFlip() {
      font-size: 0.85rem;
    }

    li {
      margin-left: 14px;
      padding-right: 30px;
      margin-bottom: 4px;
    }
  }

  & + & {
    border-top: 1px dashed #ccc;
  }
}

@media (print) {
  h1, h2, h3 {
    font-size: 12pt;
  }
}
