@mixin mFlip($q: 64rem) {
  @media (min-width: $q) {
    @content;
  }
}
@mixin mFlipUnder($q: 64rem) {
  @media (max-width: $q) {
    @content;
  }
}
@mixin mFlipBetween($q, $r) {
  @media (min-width: $q) and (max-width: $r) {
    @content;
  }
}

.title {
  font-family: 'Khand', cursive;
}

.subtitle {
  font-family: 'Khand', cursive;
}

$bod:   #182825; // #3A1729; // #2c3e50;
$hot:   #a724ed; // #C11EFC; // #B846B8;
$con:   #016FB9; // #087E8B; // #313D5A; // #094074; // #46B8B8;
$dim:   #70877F; // #ACADBC; // #ff99ee;
$paper: #f0f0f0;

:root {
  --bod: #{$bod};
  --hot: #{$hot};
  --dim: #{$dim};
  --con: #{$con};
  --paper: #{$paper};

  --gutter: 20px;

  --title: 'Khand', cursive;
  --subtitle: 'Khand', cursive;


  --headerBGPos: 90% 50%;

  @include mFlip(40rem) {
    --headerBGPos: 60% 50%;
  }
  @include mFlip() {
    --headerBGPos: 50% 50%;
  }
}
