@mixin mFlip($q: 64rem) {
  @media (min-width: $q) {
    @content;
  }
}
@mixin mFlipUnder($q: 64rem) {
  @media (max-width: $q) {
    @content;
  }
}
@mixin mFlipBetween($q, $r) {
  @media (min-width: $q) and (max-width: $r) {
    @content;
  }
}

.title {
  font-family: 'Khand', cursive;
}

.subtitle {
  font-family: 'Khand', cursive;
}

$bod:   #182825;
$hot:   #a724ed;
$con:   #016FB9;
$dim:   #70877F;
$lyt:   #CBD2D0;
$paper: #f0f0f0;

:root {
  --bod: #{$bod};
  --hot: #{$hot};
  --dim: #{$dim};
  --con: #{$con};
  --paper: #{$paper};
  --lyt: #{$lyt};

  --gutter: 20px;
  --radius: 6px;

  --title: 'Khand', cursive;
  --subtitle: 'Khand', cursive;


  --headerBGPos: 90% 50%;

  @include mFlip(40rem) {
    --headerBGPos: 60% 50%;
  }
  @include mFlip() {
    --headerBGPos: 50% 50%;
  }
}
